/*! ---FONTS--- */

/*! ---RESET--- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* ----HEADER-----*/

header {
    position: sticky;
    background-color: black;
    width: 100%;
    padding: 15px;
    top: 0;
    z-index: 1000;
    color: white;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}

header .logo {
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    margin-bottom: 0;
}

header img {
    filter: brightness(0) invert(1);
    width: 40px;
    height: auto;
    padding: 5px;
    margin-right: 5px;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 0;
}

header nav ul {
    list-style: none;
    padding: auto;
    margin-bottom: 0;
}

.menu {
    display: flex;
    column-gap: 4rem;
}

.menu a {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: rgb(255, 53, 82);
}

.open-menu, .close-menu {
    position: absolute;
    width: 40px;
    height: auto;
    padding: 5px;
    margin: 0;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    text-decoration: none !important;
}

.open-menu {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.close-menu {
    top: 10px;
    right: 20px;
}

#check {
    display: none;
}

/*----MEDIA QUERY MENU------*/

@media(max-width: 1080px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: right;
        width: 55%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: black;
        transition: all 0.2s ease-in-out;
        padding-top: 20px;
    }
    header .logo {
        color: black;
        cursor: default;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu, .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
}

@media(max-width: 1080px){
    #hiddenslider{
        display: none;
    }
    #hiddenimg {
        display: none;
    }
}

/* ----CAROUSEL-----*/

.carousel-inner > .c-item > c-img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
}

.c-item {
    width: 100%;
    height: 580px;
    min-height: 400px;
    background-color: black;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.c-img {
    height: 95vh;
    background-position: center;
    background-size: cover;
}

.c-cap {
    top: 0;
    right: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: right;
}

.c-cap a {
    right: 240px;
    position: absolute;
}

.c-cap2 {
    color: black;
    top: 0;
    right: 50px;
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 120px;
    text-align: right;
}

/* ------FILTER SECTION-------*/

.filter {
    background-color: slategray;
    color: white;
  }

.filter form{
    max-width: 1800px;
    display: grid;
    margin-left: 60px;
    margin-right: 60px;
    grid-template-columns: repeat(auto-fit, minmax(160px,auto));
    gap: 1rem;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
}

.filter button {
    font-size: 16px;
    display: inline-block;
    width: 100px;
    padding: 10px 16px;
}

select {
    border: none;
    font-size: medium;
    border-radius: 8px;
    background-color: whitesmoke;
    opacity: 0.8;
    color: slategray;
}

label {
    padding-right: 5px;
}

/*----MEDIA QUERIES------*/

@media(max-width: 1080px){
    label{
        display: block;
    }
    .filter form {
        text-align: left;
        padding-bottom: 15px;
    }
}

@media(max-width: 1080px){
    .movies-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }
    .proximos .peliculas2 .movies-container {
        width: 650px;
        display: flex;
        gap: 0.5rem;
    }
}

@media(max-width: 770px){
    .proximos .peliculas2 .movies-container .card-prox .sinopsis {
        display: none;
    }
    .proximos .peliculas2 .movies-container {
        width: 280px;
        display: flex;
        gap: 0.5rem;
    }
    .candy-gallery div img {
        width: 300px;
        height: 220px;
        align-items: center;
    }
}

@media(max-width: 1380px){
    .candy-gallery {
        flex-direction: column;
    }
}


/*----BASE/GENERAL------*/

.proximos, .cineclub, .nosotros, .candyshop, .candy-gallery {
    background-color: slategray;
    padding: 15px;
    color: white;
}

/*----CARTELERA------*/

.cartelera {
    padding: 15px;
    background-color: black;
    color: white;
}

.movies-container {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    z-index: 100;
    gap: 1rem;
    margin-top: 2rem;
}

.poster .poster-img {
    width: 100%;
    height: 280px;
    cursor: pointer;
}

.poster .poster-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.poster .poster-img img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;
}

.poster h3 {
    font-size: 1rem;
    font-weight: 500;
    padding-top: 5px;
    font-weight: 400;
}

.poster span {
    font-size: 14px;
}

/*----PROXIMOS ESTRENOS------*/

.proximos .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.proximos .searchbar {
    width: 300px;
    display: flex;
    border-radius: 8px;
}

.proximos .searchbar i {
    cursor: pointer;
}

.proximos .movies-container {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px;
    gap: 1rem;
    margin-top: 1rem;
    z-index: 100;
    align-items: center;
}

.proximos .card-prox {
    background-color: black;
    color: white;
    padding-bottom: 30px;  
}

.proximos h5 {
    padding-bottom: 15px;
    font-weight: 600;
}

.proximos .sinopsis {
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* numero de lineas */
            line-clamp: 4;
   -webkit-box-orient: vertical;
}

.proximos button {
    position: absolute;
    bottom: 10px;
}

/* ----NOSOTROS-----*/

.nosotros-container {
    max-width: 1800px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.nosotros-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 8px;
}

.location {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
}

iframe {
    width: 90%;
    height: 500px;
    border-radius: 8px;
}

/* ----CANDYSHOP-----*/

.candyshop .promos{
    display: flex;
    justify-content: center;
}

.candyshop .col-promos{
    max-width: 350px;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
    margin-top: 2rem;
}

.candyshop .card-promos:hover {opacity: 0.8;}

.candyshop .promos .card-promos img {
    margin-bottom: 10px;
    height: 90%;
}

.candyshop .promos .card-body {
    align-content: center;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.candy-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.candy-gallery div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
}

.candy-gallery img {
    width: 650px;
    height: 400px;
    border-radius: 8px;
}

.candy-gallery p {
    font-size: 20px;
    margin-top: 10px;
}

/* ----CINECLUB-----*/

.club-container {
    max-width: 1400px;
    display: flex;
    position: relative;
    gap: 2rem;
    margin-top: 1rem;
    margin-left: 0;
    align-items: center;
}

.sub-form {
    margin-top: 0;
}

.card-sub{
    padding: 5px;
    margin-top: 0;
}

.club-container img {
    width: 550px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 20px;
}


/* ----FOOTER-----*/

.icon {
    filter: brightness(0) invert(1);
    width: 30px;
    height: auto;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

footer {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}