/*! ---FONTS--- */

/*! ---RESET--- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
}

/* ----HEADER-----*/

header {
    position: sticky !important;
    background-color: black !important;
    width: 100% !important;
    padding: 15px !important;
    top: 0 !important;
    z-index: 1000 !important;
    color: white !important;
    display: flex !important;
    justify-content: space-between !important;
    text-decoration: none !important;
    align-items: center !important;
}

.logo {
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    margin-bottom: 0;
}

header img {
    filter: brightness(0) invert(1);
    width: 40px;
    height: auto;
    padding: 5px;
    margin-right: 5px;
    align-items: center !important;
    margin-bottom: 5px;
    margin-top: 0;
}

header nav ul {
    list-style: none !important;
    padding: auto !important;
    margin-bottom: 0;
}

.menu {
    display: flex;
    column-gap: 4rem;
}

.menu a {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    text-decoration: none !important;
}

.open-menu, .close-menu {
    position: absolute;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    text-decoration: none !important;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 1050px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: right;
        width: 40%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: black;
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu, .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
}

/* ----MAIN-----*/

.carousel-inner > .c-item > c-img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
}

.c-item {
    width: 100%;
    height: 600px;
    min-height: 600px;
    background-color: black;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.c-img {
    height: 95vh;
    background-position: center;
    background-size: cover;
}

.c-cap {
    top: 0;
    right: 50px;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: right;
    z-index: 10;
}

.c-cap2 {
    top: 0;
    right: 50px;
    padding-top: 80px;
    padding-left: 300px;
    padding-right: 120px;
    text-align: right;
    z-index: 10;
}

@media(max-width: 1050px){
    #hiddenslider{
        display: none;
    }
}
/* ------FILTER SECTION-------*/

.filter {
    background-color: burlywood;
    color: white;
  }

.filter form{
    max-width: 1800px;
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    gap: 1rem;
    padding: 10px;
  }


.filter button {
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    display: inline-block;
    width: 100px;
    padding: 10px 16px;
}

.filter button:hover {opacity: 0.8;}

/*----CARTELERA------*/

.cartelera {
    padding: 15px;
    background-color: black;
    color: white;
}

.proximos, .noticias, .nosotros {
    background-color: slategray;
    padding: 15px;
    color: black
}

.movies-container {
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}

.proximos .movies-container {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}

.poster .poster-img {
    width: 100%;
    height: 280px;
    cursor: pointer;
}

.poster .poster-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----FOOTER-----*/

.icon {
    width: 30px;
    height: auto;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

footer {
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0;
}