footer{
    width: 100%;
    height: auto;
    background-color: $secundary-color;
    color: $font-color;
    padding: 15px;
    z-index: 1000;
    text-align: center;
    div{
        .icon{
            filter: brightness(0) invert(1);
            margin-top: 15px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
    #btn-back-to-top {
        display: none;
        position: fixed;
        height: 45px;
        bottom: 20px;
        right: 20px;
        border-radius: 8px;
    }
}

