footer{
    width: 100%;
    height: auto;
    background-color: $secundary-color;
    color: $font-color;
    text-align: center;
    padding: 15px;
    div{
        .icon{
            filter: brightness(0) invert(1);
            width: 30px;
            height: auto;
            margin-top: 15px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
}