header{
    position: sticky;
    background-color: black;
    width: 100%;
    padding: 15px;
    top: 0;
    z-index: 1000;
    color: white;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    a{
        margin-top: 5px;
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        text-decoration: none;
        margin-bottom: 0;
        i{
            img{
                filter: brightness(0) invert(1);
                width: 40px;
                height: auto;
                padding: 5px;
                margin-right: 5px;
                align-items: center;
                margin-bottom: 5px;
                margin-top: 0;
            }
        }
    }
    nav{
        ul{
            list-style: none;
            padding: auto;
            margin-bottom: 0;
            input{
                display: none;
            }
            .menu{
                display: flex;
                column-gap: 4rem;
                li{
                    a{
                        font-size: 1.1rem;
                        font-weight: 600;
                        color: white;
                        text-decoration: none;
                        &:hover{
                            color: rgb(255, 53, 82);
                        }
                    }
                }
                .close-menu{
                    top: 10px;
                    right: 20px;
                    i{
                        img{
                            filter: brightness(0) invert(1);
                            width: 40px;
                            height: auto;
                            padding: 5px;
                            margin-right: 5px;
                            align-items: center;
                            margin-bottom: 5px;
                            margin-top: 0;
                        }
                    }
                }
            }
            .open-menu{
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                i{
                    img{
                        filter: brightness(0) invert(1);
                        width: 40px;
                        height: auto;
                        padding: 5px;
                        margin-right: 5px;
                        align-items: center;
                        margin-bottom: 5px;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}